.navbar {
  width: 80%;
  background-color: black;
  color: white;
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translate(-50%);
  z-index: 100;
  border-radius: 70px;
  opacity: 0.8;
  display: flex;
  justify-content: space-between;
  max-height: 50px;
  padding: 5px 20px;

  .left {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    h1 {
      font-size: 1.5rem;
      background: linear-gradient(90deg, #00ffff, #9b59b6, #ffffff);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  .right {
    display: flex;
    align-items: center;
    gap: 2rem;

    .item {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      cursor: pointer;
      color: rgb(188, 178, 178);
      font-weight: 500;
      
      a{
        text-decoration: none;
        color: inherit;
        font-size: 1rem;
      }
      .icon {
        font-size: 1.5rem;
      }
    }

    .btn {
      padding: 0.5rem 1rem;
      border: 2px solid;
      border-radius: 10px;
      border-image: linear-gradient(90deg, #00ffff, #9b59b6, #ffffff) 1,;
      background-color: transparent;
      color: white;
      font-weight: 500;
      cursor: pointer;
      font-size: 1rem;
    }
    .item:hover {
      color: white;
    }
  }
}


