.project-card {
  background: black;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 400px;

  .project-image {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 8px;
    
  }
  .info {
    padding: 0px 20px;
    .project-title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: white;
    }

    .project-description {
      font-size: 0.9rem;
      color: #c7c7c7;
      text-align: center;
    }

    .project-tech {
      font-size: 0.8rem;
      color: #888;
      margin-top: 5px;
      text-align: center;
    }
  }
}
