.skill-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 20px;
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
    width: 100px;
    height: 100px;

    h3{
        margin-top: 0px;
        font-size: 18px;
        color: white;
    }
    
    span{
        font-size: 2.8rem;
        margin-top: 10px;
        color: white;
    }
}