#contact {
  position: relative;
  min-height: 100vh;
  display: flex;
  z-index: 2;
  color: white;
  flex-direction: column;

  h1 {
    position: block;
    text-align: center;
    margin-top: 20px;
    font-size: 36px;
    font-weight: 800;
    color: white;
  }
  
}
