#hero {
  height: 100vh;
  display: flex;
  justify-content: center;
  color: white;
  position: relative;
  align-items: center;
  overflow: visible;

  .particlesWrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 200vh;
    z-index: 1;
  }
  .container {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;

    img {
      width: 300px;
      height: auto;
      border-radius: 15px;
    }

    h1 {
      font-size: 48px;
      margin-bottom: 5px;
      font-weight: 800;
    }

    span {
      background: linear-gradient(90deg, #00ffff, #9b59b6, #ffffff);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    p {
      font-size: 20px;
      line-height: 1.5;
      max-width: 600px;
      text-align: center;
    }

    .social-icons {
      display: flex;
      gap: 40px;
      margin-top: 20px;
      font-size: 35px;

      .icon {
        cursor: pointer;
        color: rgb(188, 178, 178);
        transition: color 0.3s;

        &:hover {
          color: white;
          transform: scale(1.1);
        }
      }
    }
  }
}
