body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
  background-color: black;
  height: 100vh;
}

.particles-container {
  position: relative;
  width: 100%;
  height: 100%;
}
